<label class="section-title score" data-namespace="{{namespace}}" data-group="{{group}}" data-key="{{key}}">
    {{#if rollable}}
        <a class="rollable" title="{{localize (concat "WOD.roll." namespace)}}">{{localize label}}</a>
    {{else}}
        {{localize label}}
    {{/if}}
</label>
<div class="score {{namespace}} {{group}}" data-namespace="{{namespace}}" data-group="{{group}}" data-key="{{key}}">
    {{> "systems/wod/templates/actor/parts/resource/resource-value.hbs" resource=(resource value temp max) }}
    <div class="score-value flex1 right" style="white-space: nowrap;">{{#if (notNull value)}}{{value}}{{else}}-{{/if}} / {{#if (notNull this.temp)}}{{&this.temp}}{{else}}-{{/if}}</div>
</div>
