<h3 class="form-header">{{localize "WOD.ui.properties"}}</h3>
<div class="form-group">
    <label>{{ localize "WOD.ui.scope" }}</label>
    <div class="form-fields">
        <input type="text" name="data.scope" value="{{data.scope}}" placeholder="{{localize "WOD.ui.scope"}}" data-dtype="String"/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "WOD.ui.benefitsRange" }}</label>
    <div class="form-fields">
        <input type="text" name="data.benefitsRange" value="{{data.benefitsRange}}" placeholder="{{localize "WOD.ui.benefitsRange"}}" data-dtype="String"/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "WOD.ui.actualBenefit" }}</label>
    <div class="form-fields">
        <input type="number" name="data.actualBenefit" value="{{data.actualBenefit}}" placeholder="{{localize "WOD.ui.actualBenefit"}}" data-dtype="Number"/>
    </div>
</div>
