<h3 class="form-header">{{localize "WOD.ui.properties"}}</h3>
<div class="form-group">
    <label>{{ localize "WOD.ui.level" }}</label>
    <div class="form-fields">
        <input type="number" name="data.level" value="{{data.level}}" placeholder="{{localize "WOD.ui.level"}}" data-dtype="Number"/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "WOD.ui.scope" }}</label>
    <div class="form-fields">
        <input type="text" name="data.scope" value="{{data.scope}}" placeholder="{{localize "WOD.ui.scope"}}" data-dtype="String"/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "WOD.ui.application" }}</label>
    <div class="form-fields">
        <input type="text" name="data.application" value="{{data.application}}" placeholder="{{localize "WOD.ui.application"}}" data-dtype="String"/>
    </div>
</div>
