<h3 class="form-header">{{localize "WOD.ui.gearType"}}</h3>
<div class="form-group">
    <label>{{localize "WOD.ui.subtype"}}</label>
    <div class="form-fields">
        <select name="data.subtype" data-type="String" style="width:100%">
            {{#select data.subtype}}
                <option value="">{{localize "WOD.None"}}</option>
                {{#each config.itemCategories as | category id |}}
                    <option value="{{id}}">{{localize category}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{localize "WOD.ui.traits"}}</label>
    <div class="form-fields">
        <label class="checkbox">
            <input type="checkbox" name="data.properties.equipment" {{checked data.properties.equipment}}> {{localize "WOD.properties.equipment"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.weapon" {{checked data.properties.weapon}}> {{localize "WOD.properties.weapon"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.protection" {{checked data.properties.protection}}> {{localize "WOD.properties.protection"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.ranged" {{checked data.properties.ranged}}> {{localize "WOD.properties.ranged"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.spiritual" {{checked data.properties.spiritual}}> {{localize "WOD.properties.spiritual"}}
        </label>
        <label class="checkbox">
            <input type="checkbox" name="data.properties.effects" {{checked data.properties.effects}}> {{localize "WOD.properties.effects"}}
        </label>
    </div>
</div>

{{#if data.properties.equipment}}
    {{> "systems/wod/templates/item/parts/attributes/equipment-attributes.hbs"}}
{{/if}}
{{#if data.properties.weapon}}
    {{> "systems/wod/templates/item/parts/attributes/weapon-attributes.hbs"}}
{{/if}}
{{#if data.properties.protection}}
    {{> "systems/wod/templates/item/parts/attributes/protection-attributes.hbs"}}
{{/if}}
{{#if data.properties.ranged}}
    {{> "systems/wod/templates/item/parts/attributes/ranged-attributes.hbs"}}
{{/if}}
{{#if data.properties.spiritual}}
    {{> "systems/wod/templates/item/parts/attributes/spiritual-attributes.hbs"}}
{{/if}}
{{#if data.properties.effects}}
    {{> "systems/wod/templates/item/parts/attributes/effects-attributes.hbs"}}
{{/if}}
