<h3 class="form-header">{{localize "WOD.properties.protection"}}</h3>
<div class="form-group">
    <label>{{localize "WOD.ui.absorption"}}</label>
    <div class="form-fields">
        <input name="data.facets.protection.absorption" type="text" value="{{data.facets.protection.absorption}}" placeholder="{{localize "WOD.ui.absorption"}}" data-dtype="Number">
    </div>
</div>
<div class="form-group">
    <label>{{localize "WOD.ui.penalty"}}</label>
    <div class="form-fields">
        <input name="data.facets.protection.penalty" type="text" value="{{data.facets.protection.penalty}}" placeholder="{{localize "WOD.ui.penalty"}}" data-dtype="Number">
    </div>
</div>