<h3 class="form-header">{{localize "WOD.properties.spiritual"}}</h3>
<div class="form-group">
    <label>{{ localize "WOD.ui.level" }}</label>
    <div class="form-fields">
        <input type="number" name="data.facets.spiritual.level" value="{{data.facets.spiritual.level}}" placeholder="{{localize "WOD.ui.level"}}" data-dtype="Number"/>
    </div>
</div>
<div class="form-group">
    <label>{{ localize "WOD.ui.gnosis" }}</label>
    <div class="form-fields">
        <input type="number" name="data.facets.spiritual.gnosis" value="{{data.facets.spiritual.gnosis}}" placeholder="{{localize "WOD.ui.gnosis"}}" data-dtype="Number"/>
    </div>
</div>
