<div class="flex-group-left">
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.name"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "WOD.details.name"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.player"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.player" type="text" value="{{actor.data.details.player}}" placeholder="{{localize "WOD.details.player"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.chronicle"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.chronicle" type="text" value="{{actor.data.details.chronicle}}" placeholder="{{localize "WOD.details.chronicle"}}"/>
        </div>
    </div>
</div>
{{#if (equals actor.type "werewolf")}}
    {{> "systems/wod/templates/actor/parts/werewolf/actor-details.hbs"}}
{{/if}}
{{#if (or (equals actor.type "vampire") (equals actor.type "vampire_da"))}}
    {{> "systems/wod/templates/actor/parts/vampire/actor-details.hbs"}}
{{/if}}
{{#if (equals actor.type "mage")}}
    {{> "systems/wod/templates/actor/parts/mage/actor-details.hbs"}}
{{/if}}
{{#if (equals actor.type "ghoul")}}
    {{> "systems/wod/templates/actor/parts/ghoul/actor-details.hbs"}}
{{/if}}
{{#if (equals actor.type "hunter")}}
    {{> "systems/wod/templates/actor/parts/hunter/actor-details.hbs"}}
{{/if}}