<div class="flex-group-left">
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.name"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "WOD.details.name"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.player"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.player" type="text" value="{{actor.data.details.player}}" placeholder="{{localize "WOD.details.player"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.chronicle"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.chronicle" type="text" value="{{actor.data.details.chronicle}}" placeholder="{{localize "WOD.details.chronicle"}}"/>
        </div>
    </div>
</div>
{{#if (equals actor.type "werewolf")}}
<div class="flex-group-left">
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.breed"}}</label>
        </div>
        <div class="field-value flex2">
            <select name="data.details.breed" data-type="String" style="width:100%">
                {{#select data.details.breed}}
                    <option value="">{{localize "WOD.None"}}</option>
                    <option value="homid">{{localize "WOD.breed.homid"}}</option>
                    <option value="metis">{{localize "WOD.breed.metis"}}</option>
                    <option value="lupus">{{localize "WOD.breed.lupus"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.auspice"}}</label>
        </div>
        <div class="field-value flex2">
            <select name="data.details.auspice" data-type="String" style="width:100%">
                {{#select data.details.auspice}}
                    <option value="">{{localize "WOD.None"}}</option>
                    <option value="ahroun">{{localize "WOD.auspice.ahroun"}}</option>
                    <option value="galliard">{{localize "WOD.auspice.galliard"}}</option>
                    <option value="philodox">{{localize "WOD.auspice.philodox"}}</option>
                    <option value="theurge">{{localize "WOD.auspice.theurge"}}</option>
                    <option value="ragabash">{{localize "WOD.auspice.ragabash"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.tribe"}}</label>
        </div>
        <div class="field-value flex2">
            <select name="data.details.tribe" data-type="String" style="width:100%">
                {{#select data.details.tribe}}
                    <option value="">{{localize "WOD.None"}}</option>
                    <option value="black-furies">{{localize "WOD.tribe.black-furies"}}</option>
                    <option value="bone-gnawers">{{localize "WOD.tribe.bone-gnawers"}}</option>
                    <option value="children-of-gaia">{{localize "WOD.tribe.children-of-gaia"}}</option>
                    <option value="fianna">{{localize "WOD.tribe.fianna"}}</option>
                    <option value="get-of-fenris">{{localize "WOD.tribe.get-of-fenris"}}</option>
                    <option value="glass-walkers">{{localize "WOD.tribe.glass-walkers"}}</option>
                    <option value="red-talons">{{localize "WOD.tribe.red-talons"}}</option>
                    <option value="shadow-lords">{{localize "WOD.tribe.shadow-lords"}}</option>
                    <option value="silent-striders">{{localize "WOD.tribe.silent-striders"}}</option>
                    <option value="silver-fangs">{{localize "WOD.tribe.silver-fangs"}}</option>
                    <option value="stagazers">{{localize "WOD.tribe.stagazers"}}</option>
                    <option value="uktena">{{localize "WOD.tribe.uktena"}}</option>
                    <option value="wendigo">{{localize "WOD.tribe.wendigo"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
</div>
<div class="flex-group-left">
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.packname"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.packname" type="text" value="{{actor.data.details.packname}}" placeholder="{{localize "WOD.details.packname"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.packtotem"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.packtotem" type="text" value="{{actor.data.details.packtotem}}" placeholder="{{localize "WOD.details.packtotem"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.concept"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.concept" type="text" value="{{actor.data.details.concept}}" placeholder="{{localize "WOD.details.concept"}}"/>
        </div>
    </div>
</div>
{{/if}}

{{#if (equals actor.type "vampire")}}
    <div class="flex-group-left">
        <div class="cell flexrow">
            <div class="field-label flex1">
                <label>{{localize "WOD.details.nature"}}</label>
            </div>
            <div class="field-value flex2">
                <input name="data.details.nature" type="text" value="{{actor.data.details.nature}}" placeholder="{{localize "WOD.details.nature"}}"/>
            </div>
        </div>
        <div class="cell flexrow">
            <div class="field-label flex1">
                <label>{{localize "WOD.details.demeanor"}}</label>
            </div>
            <div class="field-value flex2">
                <input name="data.details.demeanor" type="text" value="{{actor.data.details.demeanor}}" placeholder="{{localize "WOD.details.demeanor"}}"/>
            </div>
        </div>
        <div class="cell flexrow">
            <div class="field-label flex1">
                <label>{{localize "WOD.details.concept"}}</label>
            </div>
            <div class="field-value flex2">
                <input name="data.details.concept" type="text" value="{{actor.data.details.concept}}" placeholder="{{localize "WOD.details.concept"}}"/>
            </div>
        </div>
    </div>
    <div class="flex-group-left">
        <div class="cell flexrow">
            <div class="field-label flex1">
                <label>{{localize "WOD.details.clan"}}</label>
            </div>
            <div class="field-value flex2">
                <select name="data.details.clan" data-type="String" style="width:100%">
                    {{#select data.details.clan}}
                        <option value="">{{localize "WOD.None"}}</option>
                        <option value="assamite">{{localize "WOD.clan.assamite"}}</option>
                        <option value="brujah">{{localize "WOD.clan.brujah"}}</option>
                        <option value="followers-of-set">{{localize "WOD.clan.followers-of-set"}}</option>
                        <option value="gangrel">{{localize "WOD.clan.gangrel"}}</option>
                        <option value="giovanni">{{localize "WOD.clan.giovanni"}}</option>
                        <option value="lassombra">{{localize "WOD.clan.lassombra"}}</option>
                        <option value="malkavian">{{localize "WOD.clan.malkavian"}}</option>
                        <option value="nosferatu">{{localize "WOD.clan.nosferatu"}}</option>
                        <option value="ravnos">{{localize "WOD.clan.ravnos"}}</option>
                        <option value="toreador">{{localize "WOD.clan.toreador"}}</option>
                        <option value="tremere">{{localize "WOD.clan.tremere"}}</option>
                        <option value="tzimisce">{{localize "WOD.clan.tzimisce"}}</option>
                        <option value="venture">{{localize "WOD.clan.venture"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="cell flexrow">
            <div class="field-label flex1">
                <label>{{localize "WOD.details.generation"}}</label>
            </div>
            <div class="field-value flex2">
                <input name="data.details.generation" type="text" value="{{actor.data.details.generation}}" placeholder="{{localize "WOD.details.generation"}}"/>
            </div>
        </div>
        <div class="cell flexrow">
            <div class="field-label flex1">
                <label>{{localize "WOD.details.sire"}}</label>
            </div>
            <div class="field-value flex2">
                <input name="data.details.sire" type="text" value="{{actor.data.details.sire}}" placeholder="{{localize "WOD.details.sire"}}"/>
            </div>
        </div>
    </div>
{{/if}}
