<div class="flexcol score {{namespace}} {{group}}" data-namespace="{{namespace}}" data-group="{{group}}" data-key="{{key}}">
    {{> "systems/wod/templates/actor/parts/resource/resource-value.hbs" resource=(resource value temp max) }}
    <div class="score-value flex1 right" style="white-space: nowrap;">{{value}} / {{&this.temp}}</div>
</div>
