<div class="flexrow flex-between resource {{namespace}}" data-namespace="{{namespace}}" data-key="{{key}}" data-item-id="{{namespace}}.{{key}}.value" style="white-space: nowrap;">
<!--    <div class="resource-value flex-between flex1 center" style="white-space: nowrap;">-->
<!--        <a class="rank rank-0" title="0" data-type="rank" data-value="0"><i class="fas fa-times"></i></a>-->
        <a class="rank" title="1" data-type="resource" data-value="1"><i class="far fa-circle"></i></a>
        <a class="rank" title="2" data-type="resource" data-value="2"><i class="far fa-circle"></i></a>
        <a class="rank" title="3" data-type="resource" data-value="3"><i class="far fa-circle"></i></a>
        <a class="rank" title="4" data-type="resource" data-value="4"><i class="far fa-circle"></i></a>
        <a class="rank" title="5" data-type="resource" data-value="5"><i class="far fa-circle"></i></a>
        <a class="rank" title="6" data-type="resource" data-value="6"><i class="far fa-circle"></i></a>
        <a class="rank" title="7" data-type="resource" data-value="7"><i class="far fa-circle"></i></a>
        <a class="rank" title="8" data-type="resource" data-value="8"><i class="far fa-circle"></i></a>
        <a class="rank" title="9" data-type="resource" data-value="9"><i class="far fa-circle"></i></a>
        <a class="rank" title="10" data-type="resource" data-value="10"><i class="far fa-circle"></i></a>
<!--    </div>-->
</div>
<div class="flexrow flex-between resource {{namespace}}" data-namespace="{{namespace}}" data-key="{{key}}" data-item-id="{{namespace}}.{{key}}.temp" style="white-space: nowrap;">
<!--    <div class="resource-temp-value flex-between flex1 center" style="white-space: nowrap;">-->
<!--        <a class="rank rank-0" title="0" data-type="rank" data-value="0"><i class="fas fa-times"></i></a>-->
        <a class="rank" title="1" data-type="resource" data-value="1"><i class="far fa-square"></i></a>
        <a class="rank" title="2" data-type="resource" data-value="2"><i class="far fa-square"></i></a>
        <a class="rank" title="3" data-type="resource" data-value="3"><i class="far fa-square"></i></a>
        <a class="rank" title="4" data-type="resource" data-value="4"><i class="far fa-square"></i></a>
        <a class="rank" title="5" data-type="resource" data-value="5"><i class="far fa-square"></i></a>
        <a class="rank" title="6" data-type="resource" data-value="6"><i class="far fa-square"></i></a>
        <a class="rank" title="7" data-type="resource" data-value="7"><i class="far fa-square"></i></a>
        <a class="rank" title="8" data-type="resource" data-value="8"><i class="far fa-square"></i></a>
        <a class="rank" title="9" data-type="resource" data-value="9"><i class="far fa-square"></i></a>
        <a class="rank" title="10" data-type="resource" data-value="10"><i class="far fa-square"></i></a>
<!--    </div>-->
</div>
