<div class="flexrow flex-between resource {{namespace}}" data-namespace="{{namespace}}" data-key="{{key}}" data-item-id="{{namespace}}.{{key}}.value" style="white-space: nowrap;">
    {{resource-score value max}}
</div>
<div class="flexrow flex-between resource {{namespace}}" data-namespace="{{namespace}}" data-key="{{key}}" data-item-id="{{namespace}}.{{key}}.temp" style="white-space: nowrap;">
    {{resource-current temp max}}
</div>
