<div class="flexrow flex-between score {{namespace}}" data-namespace="{{namespace}}" data-key="{{key}}" data-item-id="{{namespace}}.{{key}}.value">
    <div class="score-label flex1 left ellipsis"><a class="rollable" title="Roll {{namespace}}" data-type="{{namespace}}" data-item-id="data.{{namespace}}.{{key}}">{{localize label}}</a></div>
    <div class="score-value flex1 right" style="white-space: nowrap;">{{score value min max}}</div>
</div>
