<div class="flexrow flex-between score {{namespace}}" data-namespace="{{namespace}}" data-key="{{key}}" data-item-id="{{namespace}}.{{key}}.value">
    <div class="flex1 left ellipsis"><a class="rollable" title="Roll attribute" data-type="attribute" data-item-id="data.{{namespace}}.{{key}}">{{localize label}}</a></div>
    <div class="flex1 right" style="white-space: nowrap;">
<!--        <input name="data.{{namespace}}.{{key}}.value" type="hidden" value="{{value}}" placeholder="Name"/>-->
<!--        <input name="data.{{namespace}}.{{key}}.max" type="hidden" value="{{max}}" placeholder="Name"/>-->
        {{score value min max}}
    </div>
</div>
