<form class="{{cssClass}}" autocomplete="off">
    <div class="sidebar">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="200" width="150"/>
    </div>
    <div class="wrap">
        {{!-- Sheet Header --}}
        <header class="sheet-header">
            <div class="header-fields">
                <span class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></span>
                {{> "systems/wod/templates/actor/parts/actor-details.hbs"}}
            </div>
        </header>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="main">Main</a>
            <a class="item" data-tab="description">Description</a>
            <a class="item" data-tab="items">Items</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Main Tab --}}
            <div class="tab main" data-group="primary" data-tab="main">
                {{!> "systems/wod/templates/actor/parts/actor-main.hbs"}}
            </div>
            {{!-- Biography Tab --}}
            <div class="tab biography" data-group="primary" data-tab="description">
                {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
            </div>
            {{!-- Owned Items Tab --}}
            <div class="tab items" data-group="primary" data-tab="items">
                {{> "systems/wod/templates/actor/parts/actor-inventory.hbs"}}
            </div>
        </section>
    </div>
</form>

