<div class="flex-group-left">
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.nature"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.nature" type="text" value="{{actor.data.details.nature}}" placeholder="{{localize "WOD.details.nature"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.demeanor"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.demeanor" type="text" value="{{actor.data.details.demeanor}}" placeholder="{{localize "WOD.details.demeanor"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.concept"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.concept" type="text" value="{{actor.data.details.concept}}" placeholder="{{localize "WOD.details.concept"}}"/>
        </div>
    </div>
</div>
<div class="flex-group-left">
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.clan"}}</label>
        </div>
        <div class="field-value flex2">
            <select name="data.details.clan" data-type="String" style="width:100%">
                {{#select data.details.clan}}
                    <option value="">{{localize "WOD.None"}}</option>
                    <option value="assamite">{{localize "WOD.clan.assamite"}}</option>
                    <option value="brujah">{{localize "WOD.clan.brujah"}}</option>
                    <option value="followers-of-set">{{localize "WOD.clan.followers-of-set"}}</option>
                    <option value="gangrel">{{localize "WOD.clan.gangrel"}}</option>
                    <option value="giovanni">{{localize "WOD.clan.giovanni"}}</option>
                    <option value="lassombra">{{localize "WOD.clan.lassombra"}}</option>
                    <option value="malkavian">{{localize "WOD.clan.malkavian"}}</option>
                    <option value="nosferatu">{{localize "WOD.clan.nosferatu"}}</option>
                    <option value="ravnos">{{localize "WOD.clan.ravnos"}}</option>
                    <option value="toreador">{{localize "WOD.clan.toreador"}}</option>
                    <option value="tremere">{{localize "WOD.clan.tremere"}}</option>
                    <option value="tzimisce">{{localize "WOD.clan.tzimisce"}}</option>
                    <option value="venture">{{localize "WOD.clan.venture"}}</option>
                {{/select}}
            </select>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.generation"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.generation" type="text" value="{{actor.data.details.generation}}" placeholder="{{localize "WOD.details.generation"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.sire"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.sire" type="text" value="{{actor.data.details.sire}}" placeholder="{{localize "WOD.details.sire"}}"/>
        </div>
    </div>
</div>