<div class="flex-group-left">
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.nature"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.nature" type="text" value="{{actor.data.details.nature}}" placeholder="{{localize "WOD.details.nature"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.demeanor"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.demeanor" type="text" value="{{actor.data.details.demeanor}}" placeholder="{{localize "WOD.details.demeanor"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.concept"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.concept" type="text" value="{{actor.data.details.concept}}" placeholder="{{localize "WOD.details.concept"}}"/>
        </div>
    </div>
</div>
<div class="flex-group-left">
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.age"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.age" type="text" value="{{actor.data.details.age}}" placeholder="{{localize "WOD.details.age"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.gender"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.gender" type="text" value="{{actor.data.details.gender}}" placeholder="{{localize "WOD.details.gender"}}"/>
        </div>
    </div>
    <div class="cell flexrow">
        <div class="field-label flex1">
            <label>{{localize "WOD.details.residence"}}</label>
        </div>
        <div class="field-value flex2">
            <input name="data.details.residence" type="text" value="{{actor.data.details.residence}}" placeholder="{{localize "WOD.details.residence"}}"/>
        </div>
    </div>
</div>