<div class="flexrow">
    <div class="flex1 center">
        <label for="dice">{{localize "WOD.ui.attribute"}}</label>
    </div>
    <div class="flex1 center cell">
        <select id="attribute" name="attribute" data-type="String" style="width:100%">
        {{#select attribute}}
            <option value="">{{localize "WOD.None"}}</option>
            <option value="data.attributes.str">{{localize "WOD.attributes.str"}}</option>
            <option value="data.attributes.dex">{{localize "WOD.attributes.dex"}}</option>
            <option value="data.attributes.stam">{{localize "WOD.attributes.stam"}}</option>
            <option value="data.attributes.cha">{{localize "WOD.attributes.cha"}}</option>
            <option value="data.attributes.man">{{localize "WOD.attributes.man"}}</option>
            <option value="data.attributes.app">{{localize "WOD.attributes.app"}}</option>
            <option value="data.attributes.per">{{localize "WOD.attributes.per"}}</option>
            <option value="data.attributes.int">{{localize "WOD.attributes.int"}}</option>
            <option value="data.attributes.wits">{{localize "WOD.attributes.wits"}}</option>
        {{/select}}
        </select>
    </div>
</div>
<div class="flexrow">
    <div class="flex1 center">
        <label for="dice">{{localize "WOD.ui.ability"}}</label>
    </div>
    <div class="flex1 center cell">
        <select id="ability" name="ability" data-type="String" style="width:100%">
        {{#select ability}}
            <option value="">{{localize "WOD.None"}}</option>
            <option value="data.abilities.alertness">{{localize "WOD.talents.alertness"}}</option>
            <option value="data.abilities.arts">{{localize "WOD.talents.arts"}}</option>
            <option value="data.abilities.athletics">{{localize "WOD.talents.athletics"}}</option>
            <option value="data.abilities.awareness">{{localize "WOD.talents.awareness"}}</option>
            <option value="data.abilities.brawl">{{localize "WOD.talents.brawl"}}</option>
            <option value="data.abilities.empathy">{{localize "WOD.talents.empathy"}}</option>
            <option value="data.abilities.expression">{{localize "WOD.talents.expression"}}</option>
            <option value="data.abilities.intimidation">{{localize "WOD.talents.intimidation"}}</option>
            <option value="data.abilities.leadership">{{localize "WOD.talents.leadership"}}</option>
            <option value="data.abilities.primalurge">{{localize "WOD.talents.primalurge"}}</option>
            <option value="data.abilities.streetwise">{{localize "WOD.talents.streetwise"}}</option>
            <option value="data.abilities.subterfuge">{{localize "WOD.talents.subterfuge"}}</option>
            <option value="data.abilities.animalken">{{localize "WOD.skills.animalken"}}</option>
            <option value="data.abilities.crafts">{{localize "WOD.skills.crafts"}}</option>
            <option value="data.abilities.drive">{{localize "WOD.skills.drive"}}</option>
            <option value="data.abilities.etiquette">{{localize "WOD.skills.etiquette"}}</option>
            <option value="data.abilities.firearms">{{localize "WOD.skills.firearms"}}</option>
            <option value="data.abilities.martialarts">{{localize "WOD.skills.martialarts"}}</option>
            <option value="data.abilities.meditation">{{localize "WOD.skills.meditation"}}</option>
            <option value="data.abilities.larceny">{{localize "WOD.skills.larceny"}}</option>
            <option value="data.abilities.melee">{{localize "WOD.skills.melee"}}</option>
            <option value="data.abilities.research">{{localize "WOD.skills.research"}}</option>
            <option value="data.abilities.performance">{{localize "WOD.skills.performance"}}</option>
            <option value="data.abilities.stealth">{{localize "WOD.skills.stealth"}}</option>
            <option value="data.abilities.survival">{{localize "WOD.skills.survival"}}</option>
            <option value="data.abilities.academics">{{localize "WOD.knowledges.academics"}}</option>
            <option value="data.abilities.computer">{{localize "WOD.knowledges.computer"}}</option>
            <option value="data.abilities.cosmology">{{localize "WOD.knowledges.cosmology"}}</option>
            <option value="data.abilities.finance">{{localize "WOD.knowledges.finance"}}</option>
            <option value="data.abilities.enigmas">{{localize "WOD.knowledges.enigmas"}}</option>
            <option value="data.abilities.esoterica">{{localize "WOD.knowledges.esoterica"}}</option>
            <option value="data.abilities.investigation">{{localize "WOD.knowledges.investigation"}}</option>
            <option value="data.abilities.law">{{localize "WOD.knowledges.law"}}</option>
            <option value="data.abilities.medecine">{{localize "WOD.knowledges.medecine"}}</option>
            <option value="data.abilities.occult">{{localize "WOD.knowledges.occult"}}</option>
            <option value="data.abilities.politics">{{localize "WOD.knowledges.politics"}}</option>
            <option value="data.abilities.rituals">{{localize "WOD.knowledges.rituals"}}</option>
            <option value="data.abilities.science">{{localize "WOD.knowledges.science"}}</option>
            <option value="data.abilities.technology">{{localize "WOD.knowledges.technology"}}</option>
        {{/select}}
        </select>
    </div>
</div>
<div class="flexrow">
    <div class="flex1 center">
        <label for="dice">{{localize "WOD.ui.bonus"}}</label>
    </div>
    <div class="flex1 center cell">
        <input class="field-value readonly" id="bonus" name="bonus" type="text" value="{{bonus}}" data-dtype="Number"/>
    </div>
</div>
<div class="flexrow">
    <div class="flex1 center">
        <label for="dice">{{localize "WOD.ui.difficulty"}}</label>
    </div>
    <div class="flex1 center cell">
        <input class="field-value readonly" id="difficulty" name="difficulty" type="text" value="{{difficulty}}" data-dtype="Number"/>
    </div>
</div>
